<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Linkfloyd!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/stylesheets.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/comments.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/linkfloyd.css') }}">
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('assets/js/scripts.js') }}"></script>
</head>
<body class="body-standart-back-color">
<div class="wrapper">
    <nav class="navbar-flex navbar-fixed navbar-standart-back-color">
        <div class="boxed">
            <div class="nav-col">
                <a class="navbar-brand" href="{{ url('homepage') }}">
                    Linkfloyd
                </a>
            </div>
            <div class="nav-col">

            </div>
            <div class="nav-col text-right nav-btn-grp-right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ url('core_bundle_post_insert') }}"
                       class="btn btn-success">{{ 'nav.insert_post' | trans }}</a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="#" class="btn btn-info">{{ app.user.username }}</a>
                    <a href="{{ url('fos_user_security_logout') }}"
                       class="btn btn-primary">{{ 'nav.logout'|trans }}</a>
                {% else %}
                    <a href="{{ url('fos_user_registration_register') }}"
                       class="btn btn-primary">{{ 'nav.register'|trans }}</a>
                    <a href="{{ url('fos_user_security_login') }}"
                       class="btn btn-primary">{{ 'nav.login'|trans }}</a>

                {% endif %}
            </div>
        </div>
    </nav>
    <div class="wrapper first-wrap">
        <div class="boxed">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% block main %}{% endblock %}
            <p>
                <a href="{{ url('nelmio_api_doc_index') }}"><strong>Api Documentation</strong></a>
            </p>
        </div>
    </div>
</div>

{% block javascripts %}{% endblock %}

{% include '@LinkfloydCore/partials/tracking_code.html.twig' %}
</body>
</html>
