{% extends "LinkfloydCoreBundle::layout.html.twig" %}

{% block main %}
    <div class="content">
        {{ form_start(form, { 'action': path('core_bundle_post_insert'), 'attr': { 'class': '' } }) }}
        <div class="form-row">
            {{ form_row(form.url, {'attr':{'class':'form-element'}}) }}
        </div>
        <div class="form-row">
            {{ form_row(form.title, {'attr':{'class':'form-element'}}) }}
        </div>
        <div class="form-row text-right">
            {{ form_row(form.submit, {'attr':{'class':'btn btn-info'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock main %}
