<div class="panel panel-default">
    <div class="panel-body">
        {% if post.linkDetail.thumbnailMedia %}
            <img src="{{ post.linkDetail.thumbnailMedia.url }}" width="100" style="float: left; margin: 15px;">
        {% endif %}
        <a href="{{ post.linkDetail.url }}">
            <strong>{{ post.detail.title }}</strong>
        </a>
        <p>
            {{ post.user.username }} -
            <small>
                {{ post.linkDetail.url }}
                {% if post.linkDetail.title %}
                    ({{ post.linkDetail.title }})
                {% endif %}
            </small>
            {% if post.isAuthor(app.user) %}
                <br/>
                <small>
                    <a href="{{ url('core_bundle_post_delete',{id:post.id}) }}" onclick="return confirm('Eminsen siliyorum')">Sil</a>
                </small>
            {% endif %}
        </p>
    </div>
</div>
