<div class="panel panel-default">
    <div class="panel-body">
        {% if post.linkDetail.thumbnailMedia %}
            <img src="{{ post.linkDetail.thumbnailMedia.url }}" width="100" style="float: left; margin: 15px;">
        {% endif %}
        <a href="{{ post.linkDetail.url }}" rel="nofollow">
            <strong>{{ post.detail.title }}</strong>
        </a>
        <p>
            <a href="{{ url('core_bundle_user_profile',{username:post.user.username}) }}">{{ post.user.username }}</a> -
            <small>
                {{ post.linkDetail.url }}
                {% if post.linkDetail.title %}
                    ({{ post.linkDetail.title }})
                {% endif %}
            </small>
            <br/>
            {#<small>
                <a href="{{ url('core_bundle_post_show',{id:post.id}) }}">
                    {{ 'post.discuss' | trans }}
                </a>
            </small>#}
            {% if post.isAuthor(app.user) %}
                <small>
                    |
                    <a href="{{ url('core_bundle_post_edit',{id:post.id}) }}">
                        {{ 'post.edit' | trans }}
                    </a>
                    |
                    <a href="{{ url('core_bundle_post_delete',{id:post.id}) }}"
                       onclick="return confirm('{{ 'post.delete_confirm' | trans }}')">
                        {{ 'post.delete' | trans }}
                    </a>
                </small>
            {% endif %}
            <small>
                |
                <a href="{{ url('core_bundle_post_show',{id: post.id}) }}">0 Yorum</a>
            </small>
        </p>
    </div>
</div>
