<div class="panel panel-default">
    <div class="panel-title">
    </div>
    <div class="panel-body">
        {% if post.linkDetail.thumbnailMedia %}
            <img src="{{ post.linkDetail.thumbnailMedia.url }}" width="100" style="float: left; margin: 15px;">
        {% endif %}
        <a href="{{ post.linkDetail.url}}">
            <strong>{{ post.detail.title }}</strong>
        </a>
        <p>
        {{ post.linkDetail.url}} ({{ post.linkDetail.title}})
        </p>
        <p>
            {{ post.detail.description }}
        </p>

    </div>

</div>
